<!DOCTYPE html>

<head>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/game.css">
</head>

<body oncontextmenu="return false;">

  <div id="view"></div>

  <div id="overlay"></div>

  <div id="debug"></div>

  <div id="instructions">
  </div>

  <input id="game-id" type="hidden" name="game-id" value="{{ gameid }}"/>
  <input id="username" type="hidden" name="username" value="{{ username }}"/>

  <script src="/js/libs/jquery-2.1.1.js"></script>
  <script src="/js/libs/three.js"></script>
  <script src="/js/libs/ramda.min.js"></script>
  <script src="/js/libs/priority-queue.min.js"></script>
  <script src="/js/libs/tween.min.js"></script>
  <script src="/js/libs/react-with-addons.js"></script>

  <script src="/js/scene.js"></script>
  <script src="/js/input.js"></script>
  <script src="/js/BoxGeometrySame.js"></script>
  <script src="/js/mesh.js"></script>
  <script src="/js/sprite.js"></script>
  <script src="/js/path.js"></script>
  <script src="/js/team.js"></script>
  <script src="/js/view.js"></script>

  <script src="/js/main.js"></script>

</body>
